<p>home works!</p>


<button mat-raised-button color="primary"  (click)="nomear()" >
    <!-- Validar role ( criar função ) -->
    Nomeação
</button>
<button mat-raised-button color="primary"   style="margin-left: 30px;" >
    <!-- Validar role ( criar função ) -->
    Promoção
</button>
<button mat-raised-button color="primary"   style="margin-left: 30px;" (click)="exonerar()">
    <!-- Validar role ( criar função ) -->
    Exoneração
</button>
<button mat-raised-button color="primary"   style="margin-left: 30px;" (click)="criarFuncao()">
    <!-- Validar role ( criar função ) -->
    Função
</button>